.nahid{
    width: 400px;
    height: 350px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.kamran{
    width: 400px;
    height: 450px;
    background: radial-gradient(circle, red 10%, green 30%,yellow 60% );
  
}