.h1{
    color: rgb(34, 70, 189);
    text-align: cente;
  text-transform: capitalize;

}
h2{
    text-decoration: line-through;
}
a{
    text-decoration: none;

}
.h2{

    color: blueviolet;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    word-spacing: 10px;
    line-height: 3.5;
}
.p1{
    text-decoration: underline;
   
    
}
h3{
    text-align: center ;color: rgb(55, 0, 255);
    text-decoration: underline double;
    text-shadow: 2px 2px black;
    word-spacing: 2px;
}

