h1{
     font-family: agency FB;
     font-size: 3em;
     font-style: italic;
     

}
h2{
     color: chartreuse;
     font-size: 4em;
     font-style: normal;
}
.k1{
     color: aqua;
     font-variant: small-caps;
     font-size: 2em;
     font-style: oblique;

}

